<!doctype html>

<html lang="en-us"><head>
	<meta charset="UTF-8">
	<title>Flexbox Exercises | Web Frontend Development</title>
	<meta name="description" content="Activity to create the HTML for the Franklin weather page for CIT 230">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../css/solarized-light.css" />	
	<link rel="stylesheet" href="../css/course.css">
</head>

<body class="faq">
	<div id="main">
		<header id="header">
			<img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
		</header>
		<main>
			<article id="article">
				<h1>Flexbox Exercises</h1>
				<hr class="rulestyle">
                <h2>Overview</h2>
                <p>"Practice makes perfect."  You've probably been told this at some point in your life...usually when you didn't want to do something  if you are anything like me ;)  But the truth of the matter is that with many things...most things...the best way to master them is by practicing.</p>
                
                <h2>Tasks</h2>
                <p>Complete the following with your learning group:</p>
                <ol>
                    
                    <li>Complete at least three of <a href="http://codepen.io/collection/XjVZJP/" target="_blank">these exercises</a> using flexbox.</li>
                    <li>Try to complete all levels of <a href="http://flexboxfroggy.com/" target="_blank">Flexbox Froggy</a>.
                    </li>
                    <li>Earlier in the semester you were asked to convert this <a href="https://dribbble.com/shots/978949-Responsive-Wireframe-Templates-GIF/attachments/113429" target="_blank">wireframe</a> into HTML. If you did not complete that then...you will need to do that now.  With that HTML file now add the CSS necessary to make the page match the actual layout of the wireframe.</li>
                    <li>
                        As you finish the items above show your work to either the instructor or TA in class to receive credit.
                    </li>
                    
                </ol> 
                <h2>Grading</h2>
                <ul>
                   <li>Flexbox exercises complete. - 5 points</li>
                   <li>Flexboggy Froggy. - 5 points</li>
                   <li>Wireframe layout correctly built. - 10 points</li> 
                </ul> 
			</article>
		</main>
		<footer id="footer">
			<a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Shane Thompson and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
	</div>
	<script src="../js/course.min.js"></script>
	<script src="../js/highlight.pack.js"></script>
    <script>
        // <![CDATA[
        hljs.initHighlightingOnLoad();
        // ]]>
    </script></body></html>