<!doctype html>

<html lang="en-us"><head>
	<meta charset="UTF-8">
	<title>Greenville Complete | Web Frontend Development</title>
	<meta name="description" content="Activity to create a new version of the weather page for CIT 230">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../css/solarized-light.css" />	
	<link rel="stylesheet" href="../css/course.min.css">
</head>

<body class="faq">
	<div id="main">
		<header id="header">
			<img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
		</header>
		<main>
			<article id="article">
				<h1>Greenville Complete</h1>
				<hr class="rulestyle">
                <h2>Overview</h2>
                <p>Earlier we thought about a new version of the weather app and designed some wireframes and put a bit of thought into styles for our new version.  Now it is time to build that page.</p>
                                
                <h2>Tasks</h2>
                <ol>
                    <li>Create a new file in your editor and name it according to our naming rules. (greenville.html might be appropriate). Add your HTML boilerplate (review the <a href="weather-site-plan.html" target="_blank">siteplan to HTML</a> activity for a reminder of what I mean by boilerplate) to get your new page started.</li>
                    <li><p>Next follow the same process that we did when converting the <a href="franklin-html.html" target="_blank">Franklin wireframe into HTML</a> for your wireframes. Start by adding markup to represent content areas, then fill in the content.</p>
                            <div class="callout">
                                <p>Just like we did on the earlier activities I would <strong>highly</strong> recommend making yourself a To-do list or two.  Write down with as much detail as you can the steps you will need to follow to build your page.</p>
                            </div>        
                    </li>
                    <li><p>Just as we did for the <a href="franklin-layout.html" target="_blank">first page</a>, add the css to get the layout of a the elements as shown in your wireframe.</p>
                    <div class="callout">
                        <h3>One CSS file or two? </h3>
                        <p>At this point you may be wondering where to put your CSS for this new page. Normally all the pages in a site would use the <em>same</em> CSS file. In this case though, where we are exploring different versions of the same page it would be more appropriate, and cause fewer problems, if we create a new CSS file for the new layout.</p>
                        
                    </div>
                    </li>
                    <li>
                        <p>Next add the CSS to style your new page. Change fonts, colors, and spacing to match your plans, and make your page follow the PARC design principles.</p>
                        
                    </li>
                    <li>Finally just as we did with <a href="franklin-responsive.html" target="_blank">Franklin</a> make your new page responsive.  Flowing naturally from your small wireframe to the large as the browser size changes.</li>
                    <li>Validate your page for HTML and CSS. Fix <strong>all</strong> errors.</li>
                    <li>Make sure the link on the Franklin weather page to this page works, and that you can get back to Franklin from this page.  Then make sure to commit and sync your work in Github Desktop.  Check your URL (should look like githubusername.github.io) to make sure all of your changes show, and to check that your images all work.</li>
                </ol>
				 <h2>Grading Matrix</h2>
        <p>This assessment will be graded for four objectives: 1, 2, 3, and 6.</p>
        
        <h3>Objective 1 - 18 points</h3>
        <ul>
					<li>The page has a meaningful content-related title and description - 3 points</li>
					<li>The page is named following the web naming rules - 3 points</li>
					<li>The page uses semantic structural elements (e.g. header, nav, main, footer) - 3 points</li>
					<li>All images load correctly - 3 points </li>
					<li>The page is valid HTML5 - 3 points</li>
					<li>Navigation items are present for all three cities listed in the weather.json file (Franklin and Greenville nav items should work) - 3 points</li>
					
				</ul>
        <h3>Objective 2 - 15 points</h3>
        <ul>
					<li>All CSS is applied with an external stylesheet - 3 points</li>
					<li>CSS is organized with whitespace and comments - 3 points</li>
					<li>Primary layout of the page is done with Flexbox with minimal use of position or float - 3 points</li>
					<li>Responsiveness: The page is responsive and requires no zooming or horizontal scrolling at any size. - 3 points</li>
					<li>The page is valid CSS3 - 3 points</li>
										
				</ul>
       <h3>Objective 3 - 9 points</h3>
        
        <ol>
          <li>The page is visually appealing (PARC and typography design principles have been applied). - 3 points</li>
          <li>Color scheme and typography indicated in the planning document have been applied - 3 points</li>
          <li>All text on the page is readable. (color and size) - 3 points</li>

        </ol>
       
        <h3>Objective 6 - 10 points</h3>
        
        <ol>
          <li>The assignment is complete as indicated above. - 3 points</li>
          <li>Assignment submitted on time - 4 points</li>
          <li>No Grammar or spelling errors - 3 points</li>

        </ol>
			</article>
		</main>
		<footer id="footer">
			<a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Shane Thompson and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
	</div>
	<script src="../js/course.min.js"></script>
	<script src="../js/highlight.pack.js"></script>
    <script>
        // <![CDATA[
        hljs.initHighlightingOnLoad();
        // ]]>
    </script></body></html>