<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Mobile Browsing Activity | Web Frontend Development</title>
 <meta name="description" content="Mobile browsing activity for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Mobile Browsing Activity</h1>

    <h2>One Day</h2>
    <p>One of my favorite scenes in the Disney movie "Hercules" is when Hades is trying to convince Hercules to stop being a hero for just 24 hours - <a href="//youtu.be/MVAUvm2PzFY?t=45s" title="Watch the clip on YouTube" target="_blank">view on YouTube</a>.</p>

    <p>Now, I am not trying to convince you to stop being a hero, instead I want you to <b>spend one day (24 hours) using only the internet browser (not a dedicated app, use the browser) on your smart phone</b> as you do your normal web browsing so that you can be a hero later. I understand that sometimes in order to get homework done you can't, so in those cases use your laptop or desktop. But for all other browsing for that day use only the browser(s) on your phone.</p>

    <p>Simply put, I want you to pay attention to the web sites that you would normally visit, but only on a "teeny, tiny screen". As you do this ask yourself:</p>

    <ul>
     <li>Can you still see what you want to see?</li>
     <li>Can you find what you're looking for?</li>
     <li>Can you do what you want to do?</li>
     <li>Any frustrations?</li>
     <li>Anything work better on the small screen?</li>
    </ul>

    <p>As you spend this time, <i><b>keep track of those sites that work well and those that don't</b></i>. Write them down (with a few notes) if you need to!</p>
    
       <p>After finishing your day, write a summary of your findings based of the information in your notes (You took lots of good notes right?).  Follow the outline found in this <a href="../downloads/mobile-analysis-template.html.zip" target="_blank">html template</a>, and replace the commented sections in the template with your summary. </p>

    <p>Once your template is filled in add a link to it to your Temporary home page and make sure to commit <strong>and</strong> sync in Github Desktop.  Then post your homepage URL in the Mobile Browsing Dropbox.</p>
    
    <h2>Grading</h2>
    <h3>Objective 1: HTML</h3>
    <ul>
        <li>Links to the good and bad examples in the template take you to the sites they reference. (3pts)</li>
        <li>Link to the mobile browsing page added correctly to the Temporary homepage (2pts)</li>
    </ul>
    <h3>Objective 3: Content</h3>
    <ul>
        <li>All portions of the template are complete. (5pts)</li>
        <li>Thoughtful analysis with good examples provided in the summary (5pts)</li>
    </ul>

   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
