<html lang="en-us"><head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Web Usability | Web Frontend Development</title>
 <meta name="description" content="Web Usability activity for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Web Usability</h1>
    <p>Usability "is a <strong>quality attribute</strong> that assesses how easy user interfaces are to use. The word "usability" also refers to methods for improving ease-of-use during the design process." (<a href="https://www.nngroup.com/articles/usability-101-introduction-to-usability/" target="_blank" title="Opens in a new tab">Usability 101: Introduction to Usability</a>).</p>
    <p>The study of usability is extensive and complex. This week we will only introduce the concept of usability and suggest some ways that you can increase the usability of your web pages.</p>
    <h2>Semantics</h2>
    <p>Already in the course we have discussed and used semantic markup. The use of the HTML5 structural elements (header, nav, main, aside, footer, section and article) themselves add to the usability of a web page. Back in week 3 you were to read about HTML5 Semantics. Included was a link to a blog post about <a href="https://www.paciellogroup.com/blog/2015/09/easy-content-organisation-with-html5/" target="_blank" title="Opens in a new tab">content organization using semantics</a> and how these elements have inherent meaning to both computers and humans. You did read the blog post, right?</p>
    <h2>Usability Checklist</h2>
    <p>The WAVE website has a great introduction page to usability. Included is a list of "<a href="http://webaim.org/intro/#principles" title="The article opens in a new tab" target="_blank">Principles of Accessible Design</a>". This list contains 12 items that are useful for enhancing usability.</p>
    <h2>Take a Look</h2>
    <p><strong>With the other members of your learning team</strong>, open and read through the <a href="http://webaim.org/intro/#principles" title="The article opens in a new tab" target="_blank">Principles of Accessible Design</a>. Talk amoung yourselves to make sure you all understand each of the 12 items. If not, click the link associated with the item to learn more.</p>

    <h2>The Golden Rule</h2>
    <p>Remember the golden rule -- Do unto others as you would have done unto you! It applies to web sites too. If you come to a site, you expect to be able to find content quickly and easily, read it without difficulty (despite the size of the screen on your device), view pictures and other media without having to scroll constantly or be greeted with messages telling you to download and install some plugin to see and use the content, be able to find your way around the site and the like. All of this may seem like common sense, and it is, but it is also usability.</p>

    <h2>Accountability</h2>
    <p>You should keep these principles in mind as you design and build your Greenville page. Part of that assessment will be based off of how well you apply these usability principles. Here is a link to a <a href="https://blainerobertson.github.io/230v2/downloads/usability-checklist.pdf" target="_blank">usability checklist</a> you can use to assess your completed Greenville site before you turn it in.</p>

   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by <a href="http://blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>



</body></html>