<!doctype html>

<html lang="en-us"><head>
	<meta charset="UTF-8">
	<title>Weather Site Plan | Web Frontend Development</title>
	<meta name="description" content="Site plan for the weather site for CIT 230">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../css/solarized-light.css" />	
	<link rel="stylesheet" href="../css/course.min.css">
</head>

<body class="faq">
	<div id="main">
		<header id="header">
			<img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
		</header>
		<main>
			<article id="article">
				<h1>Weather Site Introduction</h1>
				<hr class="rulestyle">
                <h2>Overview</h2>
                <p>Beginning today we will be working on a website to provide weather information for three cities. You will be provided the planning document describing the site purpose, target audience, a persona to represent a member of the audience and wireframes showing how the data will be laid out on the screen for two device sizes (small and large screens). Your first task is to read over the document carefully so that you understand what will be expected for this project. The next task will be to convert the document to HTML and post it to your site.</p>
                <h2>Tasks</h2>
                <ol>
                    <li>Download the <a href="../downloads/weather-site-plan.zip">weather site planning document</a> and carefully read through it.</li>
                    <li>Create a folder in your web root called 'weather'. Then create a new html document in your editor and save it in that folder with a name that keeps in mind the <a href="https://blainerobertson.github.io/230d2l/resources/naming.html" target="_blank">naming rules</a> we talked about earlier</li>
                    <li>Create an "images" folder inside of the "weather" folder you just created.  Then download the <a href="">document images</a> and place them insde that folder. (that is a .zip archive of images.  Remember to expand it! Most of the time placing it in the correct folder and then double-clicking it will do the trick.)  </li>
                    <li><p>Start your page by adding all of the critical parts of a valid HTML5 webpage: doctype, html, head, metas, title, body, etc.  Or you can use the code below as a starting point.</p>
                    <pre><code class="html">
&lt;!doctype html&gt;
&lt;html lang="en-us"&gt;
    &lt;head&gt;
         &lt;meta charset="UTF-8"&gt;
          &lt;title&gt;My first website&lt;/title&gt;
          &lt;meta name="description" content="Short Description of the page."&gt;
          &lt;meta name="viewport" content="width=device-width"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Hello World!&lt;/h1&gt;
    &lt;/body&gt;
&lt;/html&gt;  
                    </code></pre>
                        <p>If you are unsure what <em>any</em> of those lines do...make sure to revisit your notes or the readings from this week. <a href="https://www.w3schools.com/html/html_basic.asp" target="_blank">W3schools</a> is a great resource as well.  You might consider moving through the first few pages of the reference linked above if parts of the code above are unclear.</p>
                    </li>
                    <li>
                        <p>Let's continue by changing the <code>title</code> and <code>description</code> to something that makes more sense for your page. Both of these elements are actually really important for <a href="https://moz.com/blog/visual-guide-to-keyword-targeting-onpage-optimization" target="_blank">Search Engine Optimization</a> (SEO).  This is the ability of search engines to figure out what your page is about.</p>
                        <p>Ideally your title should contain the name of the current page, the name of the site, and some keywords that describe what the site is about.  Here is a short video on <a href="https://youtu.be/94omQRmaRA4" target="_blank">Titles</a> that explains more. </p>
                        <p>The description should do just what it says...describe what the site...and particularly this page are about.</p>
                    </li>
                    <li>
                        <p>Now we are ready to start adding our content.  but first we need to create spaces in our HTML for that content to go. HTML is considered a <a href="https://blainerobertson.github.io/230d2l/resources/semantics.html" target="_blank">Semantic</a> language.  Basically the html markup use should <em>describe</em> the content it contains whenever possible.</p>
                        <p>Lets add a few semantic elements to get us started.  Most documents have the same underlying parts.  Most of us learned those when learning to write our first 5 paragraph essay. They are: header, main body, and footer.</p>
                        <p>HTML5 provided us with elements to represent those parts.  Lets add the following to our html. this should go in the body, replacing the h1 that is currently there (remember that the <code>body</code> contains all the stuff we want to be in the browser window.</p>
                        <pre><code class="html">
    &lt;header&gt;
        &lt;h1&gt;Mobile Weather App Site Plan&lt;/h1&gt;
        &lt;nav&gt;&lt;a href=""&gt;Home&lt;/a&gt; &lt;/nav&gt;
    &lt;/header&gt;
    &lt;main&gt;

    &lt;/main&gt;
    &lt;footer&gt;
        &amp;copy;2017 Your name here
    &lt;/footer&gt;
                        </code></pre>
                        
                        <p>Notice I went ahead and added a <code>nav</code> element.  That wasn't part of the essay we learned to write...but navigation is a pretty important part of the web.  The <code>header</code> is often where it goes.</p>
                        <p class="callout">You might have also noticed the <code>footer</code>.  There is a funny code there.  It is called an <a href="https://www.w3schools.com/html/html_entities.asp" target="_blank">html entity code</a> and can be recognized by the leading &amp;.  We use them to display special characters that are could not normally be displayed. When you put that into your HTML it will get converted into a &copy;</p>
                    </li>
                    <li>
                        <p>From here we are ready to start adding content.  Everything else should go in that <code>main</code> element we added. As you add content pay attention to what type of information it is and try to use the appropriate HTML element.</p>
                        <div class="callout">
                        <p>For example if we look at the second section we see a headline "Audience".  Audience is a section of the document under the main title right?  We used an <code>h1</code> for the title of the document...so it would make sense to use the first subheading tag (<code>h2</code>) for the Audience title.  Audience also has sub-sections: "Audience Goals", and "Personas".  Since they are sub-headings of an <code>h2</code> identified section, they should probably use the <code>h3</code> element to represent them.</p>
                        <p>The "Content" heading is <strong>not</strong> a part of the "Audience" section and so it should go back to an <code>h2</code> element to display it on the page.</p>
                        </div>
                    </li>
                    <li>
                        Add the remainder of the content in the document to your HTML.  Use the semantic element that best describes the content.  You should use <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">links</a>, <a href="https://www.w3schools.com/html/html_images.asp" target="_blank">images</a>, <a href="https://www.w3schools.com/html/html_lists.asp" target="_blank">lists</a>,  probably a simple <a href="https://www.w3schools.com/html/html_tables.asp" target="_blank">table</a> for the colors, and lots of <a href="https://www.w3schools.com/html/html_paragraphs.asp" target="_blank">paragraphs</a> and <a href="https://www.w3schools.com/html/html_headings.asp" target="_blank">headlines</a>.
                    </li>
                    <li>Make sure to add a link to your temporary homepage to this new page.  Then make sure to commit and sync your work in Github Desktop.  Check your URL (should look like githubusername.github.io) to make sure all of your changes show, and to check that your images all work. then post your url to Ilearn.</li>
                </ol>
				 <h2>Grading Matrix</h2>
        <p>This assessment will be graded for two objectives: 1 and 6.</p>
        <h3>Objective 1 - 20 points</h3>
        <ol>
          <li>The page is valid HTML5 - 3 points</li>
          <li>The page has a descriptive title and description - 4 points</li>
          <li>The page has semantic header, nav, main and footer elements - 3 points</li>
          <li>All images load correctly - 4 points</li>
          <li>There is a working link back to the Temporary home page - 3 points</li>
          <li>The page has a meaningful title and each section has an appropriate heading - 3 points</li>
        </ol>
        
        <h3>Objective 6 - 8 points</h3>
        
        <ol>
          <li>All of the content from the provided document is in the web page  - 5 points</li>
          <li>Assignment submitted on time - 3 points</li>

        </ol>
			</article>
		</main>
		<footer id="footer">
			<a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Shane Thompson and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
	</div>
	<script src="../js/course.min.js"></script>
	<script src="../js/highlight.pack.js"></script>
    <script>
        // <![CDATA[
        hljs.initHighlightingOnLoad();
        // ]]>
    </script></body></html>